name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          working_directory: doc
          latexmk_shell_escape: true
          extra_system_packages: "inkscape"
          root_file: PracaInz.tex
      - name: Upload PDF file
        uses: actions/upload-artifact@v5
        with:
          name: PDF
          path: doc/PracaInz.pdf
  deploy:
    needs: build_latex
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Download PDF file
        uses: actions/download-artifact@v4
        with:
          name: PDF
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Generate viewer
        run: |
          echo "<embed src=\"PracaInz.pdf\" width=\"100%\" height=\"100%\" type=\"application/pdf\">" >> "index.html"
      - name: Upload page
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'
      - name: Deploy to Pages
        id: deployment
        uses: actions/deploy-pages@v4
