name: Build LaTeX
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker-practice/actions-setup-docker@master
      - name: Run latexmk
        run: |
          sudo docker run -v $PWD:/files -w /files texlive/texlive "cd doc && latexmk -pdf PracaInz.tex"
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with: 
          name: document
          path: PracaInz.pdf
